<p id="notice"><%= notice %></p>

<h1>Tv Channels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tv_channels.each do |tv_channel| %>
      <tr>
        <td><%= tv_channel.name %></td>
        <td><%= link_to 'TV-Shows', tv_shows_channel_shows_tv_channels_path(tv_channel_id: tv_channel.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
